**/*.pth
**/*.csv
!Experiment_6_BG/*.csv
!Experiment_6_BG_v2/*.csv
!ZK_LLM/*.csv
!PerturbAttackForDelta/*.csv
**/*.md
!Archive/SwapAttackInjectLlama/boundary_analysis_summary.csv
#!PerturbAttackForNeuron/gradient_swap_attack_special_node_results_2026-01-28_20-53-32.csv
!PerturbAttackForNeuron/table_neurons_epsilon_stats.csv
**/*.npy